<div class="header-div">
  <a routerLink="" class="logo">LOGO</a>

  <input type="checkbox" id="menu-bar">
  <label for="menu-bar">Menu</label>

  <nav class="navbar">
    <ul>
      <li><a routerLink="/home">Home
          <span class="badge-num">
            0
          </span>
        </a></li>
      <li><a routerLink="/example/home">Example</a></li>
      <li><a routerLink="/sandbox/home">Sandbox</a></li>
      <li>
        <a>
          GOTO
          <fa-icon [icon]="faAngleDown"></fa-icon>
        </a>
        <ul>
          <li><a routerLink="example/sc/login">Spring Clound Login</a></li>
          <li><a routerLink="example/employees">Employee List</a></li>
          <li><a routerLink="example/oauthtoken">Spring Cloud All - OAuth Token</a></li>
          <li><a routerLink="example/3ways">Between Components 3 Ways</a></li>
          <li><a routerLink="/sandbox/home">SandboxHome-LiveUpdate-ChangeDetector</a></li>
          <li><a routerLink="sandbox/msgbtw">Message Between Demo</a></li>
          <li><a routerLink="/sandbox/svgcircleok">SVG Spinner onload</a></li>
          <li><a routerLink="/sandbox/svgcircle">SVG Spinner</a></li>
          <li><a routerLink="example/pagination">Pagination</a></li>
        </ul>
      </li>

    </ul>
  </nav>
</div>